<footer class="bg-gray-800 text-white font-bold text-xs py-2 sm:sticky bottom-0">
    <div class="container mx-auto px-4 flex justify-center gap-24">
        <div class="flex gap-2 invert text-black items-center">
            <a href="/admin">{{> icons/copyright}}</a> 2024 Felix Jonas Wiegleb
        </div>
        <a href="https://github.com/LeTammo/polepick" target="_blank">
            <span class="flex gap-2 invert text-black items-center">
                {{> icons/github}} Tammo
            </span>
        </a>
    </div>
</footer>
