<footer class="bg-gray-800 text-white font-bold py-4 mt-8">
    <div class="container mx-auto px-4 flex justify-center gap-24">
        <span class="flex gap-2 invert text-black">{{> partials/icons/copyright}}2024 Felix Jonas Wiegleb</span>
        <a href="https://github.com/LeTammo/polepick" target="_blank">
            <span class="flex gap-2 invert text-black">{{> partials/icons/github}}Tammo</span>
        </a>
    </div>
</footer>