<header class="bg-red-900 bg-opacity-90 text-white shadow-md shadow-gray-400">
    <div class="relative top-[10px] ml-4 hidden md:block">
        <a href="/" class="absolute flex items-center space-x-2 text-xl font-bold">
            <i class="fas fa-flag-checkered"></i>
            <span>PolePick</span>
        </a>
    </div>
    <div class="container mx-auto px-4 py-3">
        <div class="flex justify-center items-center">
            <nav>
                <ul class="flex space-x-5 sm:space-x-16">
                    <li>
                        <a href="/" class="flex items-center space-x-1 sm:space-x-2 hover:text-gray-200 transition duration-150">
                            <span class="f-white">{{> icons/calendar}}</span>
                            <span class=" sm:block">Races</span>
                        </a>
                    </li>
                    <li>
                        <a href="/next" class="flex items-center space-x-1 sm:space-x-2 hover:text-gray-200 transition duration-150">
                            <span class="f-white">{{> icons/next}}</span>
                            <span class=" sm:block">Next</span>
                        </a>
                    </li>
                    <li>
                        <a href="/leaderboard" class="flex items-center space-x-1 sm:space-x-2 hover:text-gray-200 transition duration-150">
                            <span class="f-white">{{> icons/leaderboard}}</span>
                            <span class=" sm:block">Leaderboard</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul class="flex space-x-6">
                    <li>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>