<header class="bg-red-900 bg-opacity-90 text-white shadow-md shadow-gray-400">
    <div class="container mx-auto px-4 py-3">
        <div class="flex justify-between items-center">
            <a href="/" class="flex items-center space-x-2 text-xl font-bold">
                <i class="fas fa-flag-checkered"></i>
                <span>Pole Pick</span>
            </a>
            <nav>
                <ul class="flex space-x-6">
                    {{#races}}
                        <li>
                            <a href="/race/{{id}}" class="hover:text-gray-200 transition duration-150">
                                {{nameShort}}
                            </a>
                        </li>
                    {{/races}}
                </ul>
            </nav>
            <nav>
                <ul class="flex space-x-6">
                    <li>
                        <a href="/leaderboard" class="hover:text-gray-200 transition duration-150">
                            Leaderboard
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>