<h3 class="text-xl text-center font-semibold mb-4 text-gray-800">Drivers Grid</h3>

<div id="driversGrid" class="drivers-list max-w-[400px] m-auto grid grid-cols-2 gap-2 overflow-y-auto p-2 bg-gray-100 rounded-2xl">
    {{#drivers}}
        <div class="{{#isOdd}}mt-4{{/isOdd}} {{^isOdd}}mb-4{{/isOdd}}">
            <div draggable="true" data-driver="{{name}}" data-color="{{color}}"
                 class="driver-item w-full p-1 text-md font-bold text-center hover:scale-105 transition duration-150 cursor-move
                        rounded-lg border-2 border-[{{color}}] bg-[{{color}}] text-white shadow-md shadow-zinc-300
                        nowrap whitespace-nowrap overflow-hidden overflow-ellipsis"
                 style="text-shadow: 0 0 8px gray;">
                {{name}}
            </div>
        </div>
    {{/drivers}}
</div>