{{> partials/header}}

<main class="container max-w-[1400px] mx-auto px-4 py-6 flex-grow">
    {{> partials/raceInfo}}
    {{! {{> partials/toast}}

    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
        <section class="md:col-span-6 lg:col-span-5 xl:col-span-4 bg-white rounded-lg shadow-md p-6">
            {{^result}}
                {{> main/grid}}
            {{/result}}
            {{#result}}
                {{> main/result}}
            {{/result}}
        </section>

        <section class="md:col-span-6 lg:col-span-7 xl:col-span-8 bg-white rounded-lg shadow-md p-6">
            <div id="prediction" {{#race.predictionsEnded}}class="hidden"{{/race.predictionsEnded}}>
                {{> main/predict}}
            </div>
            <div id="predictions" {{^race.predictionsEnded}}class="hidden"{{/race.predictionsEnded}}>
                <div>{{> partials/pointsInfo}}</div>
                {{> main/predictions}}
            </div>
        </section>
    </div>
</main>

{{> partials/footer}}