<h3 class="text-xl text-center font-semibold mb-4 text-gray-800">{{race.name}}</h3>
<div class="mb-4">
    <div class="text-center mb-2 grid grid-cols-2">
        <div class="flex flex-col justify-between">
            <span><i class="fas fa-calendar-day mr-1"></i> {{race.formattedDate}}</span>
            <span><i class="fas fa-clock mr-1"></i> {{race.formattedTime}}</span>
        </div>
        <div class="flex flex-col justify-between">
            <span class="flex gap-2 justify-center">
                <svg width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                Melbourne
            </span>
            <span><i class="fas fa-cloud-rain mr-1"></i> Rainy</span>
        </div>
    </div>
</div>

<div id="driversPool" class="drivers-list max-w-[400px] m-auto grid grid-cols-2 gap-2 overflow-y-auto p-2 bg-gray-100 rounded-2xl">
    {{#drivers}}
        <div class="{{#isOdd}}mt-4{{/isOdd}} {{^isOdd}}mb-4{{/isOdd}}">
            <div draggable="true" data-driver="{{name}}" data-color="{{color}}"
                 class="driver-item w-full p-1 text-md font-bold text-center hover:scale-105 transition duration-150 cursor-move
                        rounded-lg border-2 border-[{{color}}] bg-[{{color}}] text-white shadow-sm
                        nowrap whitespace-nowrap overflow-hidden overflow-ellipsis">
                {{name}}
            </div>
        </div>
    {{/drivers}}
</div>