<h3 class="text-xl text-center font-semibold text-gray-800 mb-4">Predictions</h3>

<div id="otherPredictionsContainer" class="{{^userHasPredicted}}{{^race.predictionsEnded}}hidden{{/race.predictionsEnded}}{{/userHasPredicted}}">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-4">
        {{#userPrediction}}
            {{> prediction}}
        {{/userPrediction}}
        {{#each predictions}}
            {{> prediction}}
        {{/each}}
    </div>

    {{^predictions}}{{^userPrediction}}
        <div class="m-auto flex justify-center items-center text-gray-500">
            <span>No predictions yet</span>
        </div>
    {{/userPrediction}}{{/predictions}}

    <script>
        if (localStorage.getItem("polepick-revealRace{{race.id}}")) {
            document.querySelectorAll('.predictionPoints').forEach(element => {
                element.classList.remove('hidden');
            })
        }
    </script>
</div>



